<template name="_footer">
  <footer class="page-footer orange darken-3">

    <div class="footer-copyright orange darken-3">
      <div class="container">
        &copy; Copyright 1Marcha
      </div>
    </div>
  </footer>
</template>
