.loading {
  padding-top: 100px;
}

nav {
  margin-bottom: 24px;
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}

.card a {
    color: #3d3d3d;
}
.card a:hover{
    color: #010101;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.tabs li.tab a {
    color: #e65100;
}
.tabs li.tab a:hover {
    color: #f97f4a;
}

.tabs .indicator {
    background-color: #e65100;
}

.input-field .prefix.active {
    color: #e65100;
}
input[type=text]:focus{
    border-bottom: 1px solid #e65100;
    box-shadow: 0 1px 0 0#e65100;
    -webkit-box-shadow: 0 1px 0 0#e65100;
}

.input-field input[type=text]:focus + label{
    color: #e65100;
}

.collection a.collection-item{
    color: #e65100;
}

.collection{
    background-color: #e65100;
}
.card .card-title{
    color: #e65100;
}

textarea:focus.materialize-textarea{
    border-bottom: 1px solid #e65100;
    box-shadow: 0 1px 0 0#e65100;
    -webkit-box-shadow: 0 1px 0 0#e65100;
}
.input-field textarea:focus.materialize-textarea + label{
    color: #e65100;
}

[type="radio"]:checked + label:after{
    border: 2px solid #e65100;
    background-color: #e65100;
}

input[type=checkbox] + label{
    color:#000000;
}

input + label{
    color:#000000;
}


