<template name="home">
  <div class="template-home">
    <div class="card-panel">
        <div class="row ">
                    <div class="row">
                        <div class="input-field col s10">
                            <i class="material-icons prefix">search</i>
                            <label for="search">Qual é o problema do seu carro?</label>
                            <input type="text" name="carproblem" id="search"/>

                        </div>
                    </div>
                <div class="row">
                    <div class="col offset-s2 s8">
                        <ul class="tabs">
                            <li class="tab col s3" ><a class="active" href="#test1">Problema</a></li>
                            <li class="tab col s3" ><a href="#test2">Descrição</a></li>
                            <li class="tab col s3" ><a href="#test3">Enviar Ticket</a></li>
                        </ul>
                    </div>
                    <div id="test1" class="col s12">
                        <div class="row">
                            <div class="collection col s8 offset-s2 " id="results">
                                {{#each problems}}
                                    <a href="#" class="collection-item">{{this}}</a>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div id="test2" class="col offset-s2 s8">
                        <form>
                            <div class="card  orange lighten-5">
                                <div class="card-content">
                                    <span class="card-title">Problema: Freio</span>
                                    <ul class="collection black-text">
                                        <li class="collection-item">
                                            <input type="checkbox" id="cb1" />
                                            <label for="cb1">Dianteira</label>
                                        </li>
                                        <li class="collection-item">
                                            <input type="checkbox" id="cb2" />
                                            <label for="cb2">Traseira</label>
                                        </li>
                                        <li class="collection-item">
                                            <input type="checkbox" id="cb3" />
                                            <label for="cb3">Ambos</label>
                                        </li>
                                        <li class="collection-item">
                                            <input type="checkbox" id="cb4" />
                                            <label for="cb4">Não sei</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-action black-text right">
                                    <a class="waves-effect waves-light btn  orange darken-3 addCard" style="color: #ffffff"  href="#">Colocar no Ticket</a>
                                    <a class="waves-effect waves-light btn  orange lighten-4 " href="#">Cancelar</a>
                                </div>
                            </div>
                            <div class="card  orange orange lighten-5">
                                <div class="card-content black-text">
                                    <span class="card-title">Sobre seu Carro</span>
                                    <div class="row input-field col s12">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name">Quilometragem</label>
                                    </div>
                                    <div class="row col s12">
                                        <span>Tipo de peça de preferência</span>
                                        <p>
                                            <input name="group1" type="radio" id="rb1" />
                                            <label for="rb1">Orignal</label>
                                        </p>
                                        <p>
                                            <input name="group1" type="radio" id="rb2" />
                                            <label for="rb2">Paralela</label>
                                        </p>
                                    </div>
                                    <div class="row col s12">
                                        <span>Informação adicional</span>
                                        <div class="input-field col s12">
                                            <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
                                            <label for="textarea1">Descreva seu problema com detalhes</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action black-text right">
                                    <a class="waves-effect waves-light btn  orange darken-3 addCard" style="color: #ffffff"  href="#">Colocar no Ticket</a>
                                    <a class="waves-effect waves-light btn  orange lighten-4 " href="#">Cancelar</a>
                                </div>
                            </div>
                            <div class="card card-panel  orange lighten-5">
                                <div class="card-content black-text">
                                    <span class="card-title">Sobre o Serviço</span>
                                    <div class="row col s12">
                                        <span>Previsão para o serviço completo</span>
                                        <p>
                                            <input name="group2" type="radio" id="rb3" />
                                            <label for="rb3">Urgência!</label>
                                        </p>
                                        <p>
                                            <input name="group2" type="radio" id="rb4" />
                                            <label for="rb4">1 semana</label>
                                        </p>
                                        <p>
                                            <input name="group2" type="radio" id="rb5" />
                                            <label for="rb5">2 semanas</label>
                                        </p>
                                        <p>
                                            <input name="group2" type="radio" id="rb6" />
                                            <label for="rb6">1 mês</label>
                                        </p>
                                        <p>
                                            <input name="group2" type="radio" id="rb7" />
                                            <label for="rb7">Sem pressa</label>
                                        </p>

                                    </div>
                                    <div class="row col s12">
                                        <span>Período disponível</span>
                                        <div class="row" >
                                            <div class="col s6">
                                                <span>Entregar o carro</span>
                                                <ul class="collection" style="color:#000000">
                                                    <li class="collection-item">8:00</li>
                                                    <li class="collection-item">9:00</li>
                                                    <li class="collection-item">10:00</li>
                                                    <li class="collection-item">11:00</li>
                                                    <li class="collection-item">12:00</li>
                                                    <li class="collection-item">13:00</li>

                                                </ul>
                                            </div>
                                            <div class="col s6">
                                                <span>Pegar o carro</span>
                                                <ul class="collection" style="color:#000000">
                                                    <li class="collection-item">8:00</li>
                                                    <li class="collection-item">9:00</li>
                                                    <li class="collection-item">10:00</li>
                                                    <li class="collection-item">11:00</li>
                                                    <li class="collection-item">12:00</li>
                                                    <li class="collection-item">13:00</li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action black-text right">
                                    <a class="waves-effect waves-light btn  orange darken-3 addCard " style="color: #ffffff"  href="#">Colocar no Ticket</a>
                                    <a class="waves-effect waves-light btn  orange lighten-4 " href="#">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="test3" class="col offset-s2 s8">
                        <div class="card orange darken-1">
                            <div class="card-content white-text">
                                <span class="card-title" style="color:white;">Resumo do Ticket</span>
                                <div class="row col s12">
                                    <div class="row" >
                                    <span>Sobre o problema</span>


                                    </div>
                                    <div class="row" >
                                    <span>Sobre o serviço</span>


                                    </div>
                                    <div class="row" >
                                    <span>Sobre o seu carro</span>


                                    </div>
                                    <div class="row" >
                                    <span>Orçamento previsto</span>


                                    </div>
                                </div>
                            </div>
                            <div class="card-action black-text right">
                                <a class="waves-effect waves-light btn  orange lighten-4 " id="addServices" href="#">Adicionar + Serviços</a>
                                <a class="waves-effect waves-light btn orange darken-3" style="color: #ffffff" href="#">Enviar Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>



                <!--<div class="row">-->
                    <!--<div class="input-field offset-s2  col s5">-->
                       <!--<a class="waves-effect waves-light btn-large orange darken-2">Procurar serviço</a>-->
                    <!--</div>-->
                    <!--<div class="input-field col s5">-->
                        <!--<a class="waves-effect waves-light btn-large orange darken-2">Descrever problema</a>-->
                    <!--</div>-->
                <!--</div>-->

        </div>
    </div>


  </div>
</template>
